    <div id="main-body" class="container center imageBG-others">
        <div class="well well-lg center" style="width: 70%; margin: auto">
            <legend><i class="glyphicon glyphicon-user"></i> Sign in</legend>
            <form action="#" method="post" class="form" role="form">

            <input class="form-control" name="youremail" placeholder="Email" type="email" />
            <br/>
            <input class="form-control" name="password" placeholder="New Password" type="password" />
           
            <br />
            <button class="btn btn-md btn-primary btn-block" type="submit">
                Sign In</button>
            </form>
        </div>
    </div>
