    <div id="main-body" class=" center_ver container center imageBG-others">
        <div class="well well-lg center" style="width: 50%; margin: auto">
            <legend><i class="glyphicon glyphicon-user"></i> Sign up!</legend>
            <!-- <form action="#" method="post" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="firstname" placeholder="First Name" type="text"
                        required autofocus />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="lastname" placeholder="Last Name" type="text" required />
                </div>
            </div>
            <br/>
            <input class="form-control" name="youremail" placeholder="Email" type="email" />
            <br/>
            <input class="form-control" name="password" placeholder="New Password" type="password" />
            <br/>
            <input class="form-control" name="reenterpassword" placeholder="Re-enter Password" type="password" />
            <br />
            <br />
            <button class="btn btn-md btn-primary btn-block" type="submit">
                Sign up</button>
            </form> -->


            <% form_for @user do |f| %>
                <%= f.label :first_name %>
            <% end %>
        </div>
    </div>
