<div id="main-body" class="regular_ver imageBG-others">
    <div class="container">
	<!-- edit form column -->
     	<h1 class="">Edit Guarantor Info</h1>

        <%= form_for @user, html: {class: "form-horizontal"} do |f| %>
        
            <div class="form-group">
                <label class="col-lg-3 control-label">First name:</label>
                <div class="col-lg-8">
                    <%= f.text_field :firstname, :placeholder => "First Name", class: "form-control", :autofocus => true, :required => true %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Last name:</label>
                <div class="col-lg-8">
                    <%= f.text_field :lastname, :placeholder => "Last Name", class: "form-control", :autofocus => true, :required => true %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Email:</label>
                <div class="col-lg-8">
                    <%= f.text_field :email, :placeholder => "Email", class: "form-control", :autofocus => true, :required => true %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <input class="btn btn-primary" value="Save Changes" type="submit"> <span class=""></span>

                    <input class="btn btn-default" value="Cancel" type="reset">
                </div>
            </div>
        <% end %>
    </div>
    </div>
</div>
<hr class="">