
<div id="main-body" class="center_ver center imageBG-others">
  	<div class="container">
		<% if notice then %>
	        <div class="alert alert-success" role="alert"> <%= notice %> </div>
	      <% end %>
		<h3>
	  		<strong>FirstName: </strong><%= @user.firstname %>
		</h3>

		<h3>
	  		<strong>LastName: </strong><%= @user.lastname %>
		</h3>
		<h3>
	  		<strong>Email: </strong><%= @user.email %>
		</h3>
	</div>
</div>