
<div id="main-body" class=" center_ver container center imageBG-others">
	<h1>User created successfully!</h1>
	<h3>
  		<strong>FirstName: </strong><%= @user.firstName %>
	</h3>

	<h3>
  		<strong>LastName: </strong><%= @user.lastName %>
	</h3>
	<h3>
  		<strong>Email: </strong><%= @user.email %>
	</h3>
	<h3>
  		<strong>Password: </strong><%= @user.password %>
	</h3>
</div>