<div id="main-body" class="center_ver center imageBG-others">

  <div class="container">
    
    <div class="well well-lg center" style="width: 50%; margin: auto">
      <% if notice then %>
        <div class="alert alert-success" role="alert"> <%= notice %> </div>
      <% end %>
      <legend><i class="glyphicon glyphicon-user"></i> Sign in</legend>
        <form action="#" method="post" class="form" role="form">
          <input class="form-control" name="youremail" placeholder="Email" type="email" />
          <br/>
          <input class="form-control" name="password" placeholder="Password" type="password" />
         
          <br />
          <div class="row">
            <div class="col-xs-6 col-md-6">
              <button class="btn btn-md btn-primary btn-block" type="submit">Sign In</button>
            </div>
            <div class="col-xs-6 col-md-6">
              <%= link_to "Register", new_user_path , class: "btn btn-md btn-default btn-block" %>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
