<div id="advance_search_form" class="search_form" style="display:none; width:100%">
	<form class="navbar-form">
		<table>
			<tbody>
				<tr style="visibility:hidden">
					<td width=13%></td>
					<td width=1%></td>

					<td width=13%></td>
					<td width=1%></td>

					<td width=13%></td>
					<td width=1%></td>

					<td width=13%></td>
					<td width=1%></td>

					<td width=13%></td>
					<td width=1%></td>

					<td width=13%></td>
					<td width=1%></td>					

					<td width=13%></td>
					<td width=1%></td>					

					<td width=2%></td>										
				</tr>
				<tr>
					<td>From:</td>
					<td></td>
					<td>To:</td>
					<td></td>
					<td>Descciption:</td>
					<td></td>
					<td>Sender:</td>
					<td></td>
					<td>Created Date:</td>
					<td></td>
					<td>Item Status:</td>
					<td></td>
					<td>Shipper:</td>
					<td></td>
					<td></td>
				</tr>
					<td><input type="text" name="from" size="50%"/></td> 
					<td></td>
					<td><input type="text" name="to" size="50%"/></td>
					<td></td>
					<td><input type="text" name="desc" size="50%"/></td>
					<td></td>
					<td><input type="text" name="sender" size="50%"/></td>
					<td></td>
					<td><input type="text" name="dateCreated" size="50%"/></td>
					<td></td>
					<td><input type="text" name="status" size="50%"/></td>
					<td></td>
					<td><input type="text" name="shipper" size="50%"/></td>
					<td></td>
					<td>
						<button type="submit" class="btn btn-primary">
							<span class="glyphicon glyphicon-search">
							</span>
						</button>
					</td>
				<tr>
				</tr>
			</tbody>
		</table>
	    
	</form>
</div>

<button type="button" href="#collapse1" class="btn btn-primary search-toggle" style="width:140px">
	<span >Advance Search</span>
</button>