<div id="simple_search_form" class="search_form"> 
	<form class="navbar-form" role="search" method="get" id="search-form" name="search-form">
		<div class="input-group">
			<table>
				<tr>
					<td width=7%></td>
					<td width=40%></td>
					<td width=1%></td>
					<td width=7%></td>
					<td width=40%></td>
				</tr>
				<tr>
					<td>From:</td>
					<td><input type="text" name="simple_from" size="50%"/></td> 
					<td></td>
					<td>To:</td>
					<td><input type="text" name="simple_to" size="50%"/></td>
				</tr>
			</table>
			<div class="input-group-btn" style="width:1%">
				<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-search">
					</span>
				</button>	


			</div>
		</div>
	</form>
</div>