<div> 
	<form class="navbar-form" role="search" method="get" id="search-form" name="search-form">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search by city Send From" id="search" name="search" value="">
			<div class="input-group-btn">
				<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-search">
					</span>
				</button>
				<button type="button" href="#collapse1" class="btn btn-primary search-toggle" style="width:140px">
					<span >Advance Search</span>
				</button>
			</div>
		</div>
	</form>
</div>