<form class="navbar-form" name="search">
    <div class="form-group" style="display:inline;">
        <div class="input-group">
            <input type="text" class="form-control" id='search_field' placeholder="Search by city Send From" name="search" >
            <span class="input-group-addon">
                <button class="glyphicon glyphicon-search" id='search'></button>
            </span>
        </div>
    </div>
</form>