<div id="main-body" class="regular_ver imageBG-others">
    <div class="container">
      <h1>Welcome to PlayCute!! </h1>
      <h3>Let's play with your pets, show how cute they are!</h2>
      <p>Let me show you how to use our platform.</p>
      

    </div>
</div>