<div id="main-body" class="imageBG-home">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h1>We're coming soon! A cute place for pets to play cute.</h1>
          <h1>Do you mind to take a quick survey for us?</h1>
          <h2 class="subtitle"></h2>
          <form class="form-inline signup" role="form">
            
            <button type="submit" class="btn btn-theme">Take Survey</button>
          </form>         
        </div>        
      </div>
    </div>
  </div>