<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="center hero-unit">
  		<h1>Welcome to Tuhao App</h1>
   		<h2>Everyone can be a shipper and ship you packages ASAP.</h2> 
   		<%= link_to "Sign up now!", signup_path, class: "btn btn-sm btn-primary" %>
	</div>
  </body>
</html>