<div id="main-body" class="center_ver imageBG-home">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h1>We're coming soon! A cute place for pets to play cute.</h1>
          <h1>Do you mind to take a quick survey for us?</h1>
          <h2 class="subtitle"></h2>
          <form class="form-inline" role="form">
            
            <%= link_to "Take Survey", 'survey', class: "btn btn-theme" %>
          </form>         
        </div>        
      </div>
    </div>
  </div>