/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
background-image: url("homepage_background.jpg");
}

#side_bar {
	font-family: verdana, arial, helvetica, sans-serif;
  	font-size: 13px;
  	line-height: 18px;
  	width: 120px;
  	float: left;
  	border-right: 1px;
}

#main_body {
	font-family: verdana, arial, helvetica, sans-serif;
  	font-size: 13px;
  	line-height: 18px;
  	padding-left: 100px;
    padding-right: 100px;
}

#advance_search_form table{
  border-style: none;
}

#advance_search_form tr{
  border-style: none;
}

#advance_search_form td{
  border-style: none;
  color: #000000;
  padding-left: 0px;
  padding-right: 0px;
}


#advance_search_form input{
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
