
/*----------------- mixins, variables, etc. ------------------*/

$lightGray: #D9D9D9;
$grayMediumLight: #8A8A8A;
$orange: #CC7537;


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* --------------------page Common style -------------------*/
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image: url("homepage_background.jpg");  
  background-size: 100%
}

section { 
  overflow: auto;
}

textarea {
  resize: vertical;
}

.main_body {
  font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding-left: 100px;
    padding-right: 100px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
    color: $orange;
  }
}

.container{
  padding-top: 5px;
}

/* ---------------------typography 字体排版 -------------------------*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: $orange;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: black;
}


/*-------------------------- header ---------------------------*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}

.navbar-default .navbar-brand{
    color:#fff;
    font-size:30px;
    font-weight:bold;
  }
.form {
  margin-bottom:20px;
  .form-control { margin-bottom: 10px;}
}
@media (min-width:768px) {
  #home{
    margin-top:50px;
  }
  #home .slogan{
    color: #0e385f;
    line-height: 29px;
    font-weight:bold;
  }
}

/*-------------------------footer -----------------------------*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGray;
  a {
    color: $orange;
    &:hover {
      text-color: #fff;
      text-decoration: none;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
        float: left;
        margin-left: 10px;
        a {
        color: $orange;
        }
        a:visited {
          color: $orange;
        }
    }
  }
}


/*---------------- search result table --------------------------*/
table {
  margin-left:auto;
  margin-right:auto;
}

table, th, td{
   border: 1px solid black;
}

.list_line_even {
  background:   #F09B46;
}

.list_line_odd {
  background:   #469BF0;
}


/*-------------------------- debug -----------------------*/
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

  