// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*---------------- search result table --------------------------*/
table {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
}

table, th, td{
   border: 1px solid black;
}

.list_line_even {
  background:   #F09B46;
}

.list_line_odd {
  background:   #469BF0;
}

.search_count{
  text-align:left;
}

.table_header{
  background-color: #ffffff;
}
