// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.list_line_even {
  background:   #F09B46;
}

.list_line_odd {
  background:   #469BF0;
}

#main_body {
	font-family: verdana, arial, helvetica, sans-serif;
  	font-size: 13px;
  	line-height: 18px;
  	padding-left: 150px;
}