
<div id="footer" class="imageBG-others">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
          <p class="copyright">Copyright &copy; 2014 - PlayCute.com</p>
      </div>
    </div>    
  </div>  
</div>
