
<div id="footer" class="imageBG-others">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <p class="copyright">Copyright &copy; 2015 - TreatsBowl.com</p>
      </div>
      <div class="col-md-3 ">
		<p>
			<a href="#"><i class="fa fa-facebook-square fa-2x"  ></i> </a>  
			<a href="#"><i class="fa fa-twitter-square fa-2x"  ></i> </a>  
			<a href="#"><i class="fa fa-linkedin-square fa-2x"  ></i> </a>  
			<a href="#"><i class="fa fa-google-plus-square fa-2x"  ></i> </a>  
		</p>
    </div>    
  </div>  
</div>
