<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "PlayCute", root_path, class: "navbar-brand" %>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "HowTo", 'howto'%></li>
				<li><%= link_to "SignIn", 'signin'%></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
